<div class="mt-4">
  <form method="POST" action="">
    <div class="form-group">
      <label for="search-input">Nhập từ khóa</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Enter work"
        name="q"
      />
    </div>
    <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
  </form>
</div>